.App {
    font-family: Arial, sans-serif;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

button {
    background-color:#4174D9;
    border-radius: 10px;
    width: 150px;
    
}

p {
    color: black;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

